<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <img src="http://www.darkroomlocator.com/css/img/drl_white_bkg_300x80.png" class="img-responsive">
            <p>Hi <span class="text-danger"><%= first_name %></span>,</p>
            <p>welcome to darkroom locator.</p>
            <p>Your account is now active</p>
            <p>Remember your username is <span class="label label-info"><%= username %></span></p>
            <p>You can start to share your darkroom from your <a href='www.darkroomlocator.com/#!<%= lang %>/login'>reserved area</a></p>
            <p>Or find a darkroom near to you using our <a href='www.darkroomlocator.com/#!<%= lang %>/mapdashboard'>search engine</a></p>
            <p></p>
            <p>Thank You</p>
            <p class='text-muted'>darkroom locator team | www.darkroomlocator.com | darkroomlocator@analogica.it</p>
        </div>            
    </div>
</div>