<!-- sidebar -->
<h3 class="lead">Menu</h3>
<ul class="nav nav-pills nav-stacked">
    <li id="li_dashboard"><a href="#en/dashboard" id="link_dashboard" data-toggle="tooltip" data-placement="right" data-original-title="main page of the reserved area" title=""><span class="glyphicon glyphicon-home"></span></a></li>
    <li id="li_profile"><a href="#en/profile" id="link_profile" data-toggle="tooltip" data-placement="right" data-original-title="manage your profile! you can update or delete your personal data" title=""><span class="glyphicon glyphicon-user"></span></a></li>
    <li id="li_password"><a href="#en/password" id="link_password" data-toggle="tooltip" data-placement="right" data-original-title="change your password" title=""><span class="glyphicon glyphicon-wrench"></span></a></li>
    <li id="li_report"><a href="#en/report" id="link_report" data-toggle="tooltip" data-placement="right" data-original-title="manage your reports! you can add, edit and delete your reports" title=""><span class="glyphicon glyphicon-pushpin"></span></a></li>
    <li class="divider"></li>
    <li><a href="#en/logout" id="link_logout" data-toggle="tooltip" data-placement="right" data-original-title="log out from reserved area" title=""><span class="glyphicon glyphicon-off"></span></a></li>
</ul>
