<!-- Credits -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">credits</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-offset-3">
            <img src="css/img/logo.png" class="img-responsive">
            <p class='text-muted'>
                <span class="label label-warning">Dev & Social</span><br><br>
                <img src="css/img/etrusco_32_trasparente.png"> Designed and built with all the love in the world by <a href='http://www.pensando.it/wp/chi-sono' target='_blank'>@etrusco</a><br><br>
                <img src="css/img/twitter_32.png"> Follow <a href='http://twitter.com/darkroomlocator' target='_blank'>@darkroomlocator</a> on twitter<br>

                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-annotation="inline" data-width="300"></div>
                <br><br>
                <!-- Place this tag where you want the widget to render. -->
                <div class="g-page" data-width="292" data-href="//plus.google.com/111635347702149948772" data-layout="landscape" data-rel="publisher"></div>

                <!-- Place this tag after the last widget tag. -->
                <script type="text/javascript">
                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>

                <br><br>
                <span class="label label-info">Tech Spec</span><br><br>
                data base - <a href='http://www.mongodb.org/' target='_blank'>mongoDB</a> | <a href='http://mongoosejs.com/' target='_blank'>mongoose.js</a> | <a href='https://www.mongohq.com/home' target='_blank'>mongoHQ</a><br>
                server side - <a href='http://nodejs.org/' target='_blank'>node.js</a> | <a href='http://expressjs.com/' target='_blank'>express.js</a> | <a href='https://www.heroku.com/' target='_blank'>heroku</a><br>
                client side - <a href='http://jquery.com/' target='_blank'>jquery</a> | <a href='http://backbonejs.org/' target='_blank'>backbone.js</a> | <a href='http://twitter.github.io/bootstrap/index.html' target='_blank'>twitter bootstrap</a> | <a href='https://developers.google.com/maps/?hl=it' target='_blank'>google maps</a><br>
                <br>
                <span class="label label-success">Tech Partner</span><br>
            <div class="row">
                <div class="col-lg-6">
                    <a href='http://www.ars-imago.com/' target='_blank'><img src='css/img/arsimago.gif'></a>
                    <address>
                        ars-imago international s.r.l.<br>
                        via degli scipioni 24/26<br>
                        I-00192 Roma<br>
                        Telefono: +39 06 454 92 886<br>
                        Fax: +39 06 454 93 381<br>
                        email: <a href='mailto:info@ars-imago.com'>info@ars-imago.com</a><br>
                        website: <a href='http://www.ars-imago.com/' target='_blank'>ars-imago.com</a>
                    </address>
                </div>
                <div class="col-lg-6">
                    <a href='http://www.analogica.it/' target='_blank'><img src='css/img/logo_analogica_150.png'></a>   <br>
                    <address>
                        analogica.it<br>
                        passione per la fotografia ai sali d'argento<br>
                        email: <a href='mailto:info@analogica.it'>info@analogica.it</a><br>
                        forum: <a href='http://www.analogica.it/' target='_blank'>analogica.it</a><br>
                        blog: <a href='http://blog.analogica.it/' target='_blank'>blog.analogica.it</a>
                    </address>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>
