<!-- Documentation -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">project</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-offset-3">
            <img src="css/img/logo.png" class="img-responsive">
            <h3>What is darkroom locator?</h3>
            <p><strong>Darkroom Locator</strong> is a project born and developed thanks to <a href='http://www.analogica.it' target='_blank'>analogica.it</a>, the first Italian community dedicated to analogue photography.</p>
            <p>It's a project completely <strong>free</strong>, non-profit and designed with the most modern and high-performance <a href="#en/credits">technologies</a> available today.</p>
            <br>
            <h3>What is the purpose of the project?</h3>
            <p>The aim of the project is to <strong>facilitate and encourage the meeting</strong> between no darkroom professional photographers or amateurs and analog photo enthusiasts owing a darkroom (in garage, in the attic, in the bathroom, commercial, ... )</p>
            <p>We believe that this synergy can only be good for silver-based photography as a whole, enabling and facilitating the exchange of <strong>ideas, information and knowledge</strong> on techniques and practices related to <strong>developing</strong> and <strong>printing</strong> in the darkroom.</p>
            <br>
            <h3>Want to support darkroom locator?</h3>
            <p>So far, all of this has been <strong>self-financed</strong> from <a href='http://www.pensando.it/wp/index.php/chi-sono' target='_blank'>@etrusco</a> but the resources, both time and economic, are obviously limited.<p>
            <p>The list of things to do is huge as there are so many <strong>improvements and innovations</strong> that we would like to bring to the project. However, more improvements we make, greater are the demands in terms of economic means to support the changes.<p>
            <p>So if you're passionate about a darkroom locator, if you want to share the spirit of "open" and would like to <strong>support</strong> it for both its maintenance and its future growth, you can make a <strong>donation</strong> to etrusco. The amount it's up to you!<p>
            <br>
            <h3>Make a donation</h3>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="ZHE4EZMYED8NY">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
            </form>
            <br>
            <h3>How will we use your contribution?</h3>
            <ul>
                <li>Domain, web space and data base</li>
                <li>License for realization iOS app iPhone / iPad</li>
                <li>Promotional materials and advice for graphic design</li>
                <li>Commercial and legal advice to perform this work</li>
            </ul>
        </div>
    </div>
</div>