<!-- map dashboard -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">find</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <!-- map sidebar content-->
            <div id="map_sidebar_content"></div>
        </div>
        <div class="col-lg-8">
            <!-- map canvas div -->
            <div id="map_canvas" class="map_canvas"></div>
        </div>
        <div class="col-lg-2">
            <!-- map sidebar right content-->
            <div id="map_sidebar_right_content" class="reportscroll"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-offset-2">
            <br><span class="label label-success">advertise</span><br>
            <div id="ad_content" class="ad_content"></div>
        </div>
    </div>
</div>
