<!-- navbar -->
<div class="navbar navbar-fixed-top" id="anchor0">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">darkroom locator</a>     -->
        <a class="navbar-brand" href="#"><img src='css/img/drl_black_bkg_only_logo_20x20.png'></a>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#en/mapdashboard" id="link_cerca" data-toggle="tooltip" data-placement="bottom" data-original-title="find a darkroom near you" title="">find</a></li>
                <li><a href="#en/project" id="link_project" data-toggle="tooltip" data-placement="bottom" data-original-title="discover and support darkroom locator project" title="">the project</a></li>
                <li><a href="#en/credits" id="link_credits" data-toggle="tooltip" data-placement="bottom" data-original-title="technology and credits" title="">credits</a></li>
                <li><a id="lang_a_en" href="#lang/en">en</a></li>
                <li><a id="lang_a_it" href="#lang/it">it</a></li>
                <li><a id="lang_a_de" href="#lang/de">de</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" id='ul_login'>
                <li><a href="#en/login"        id="link_login"         data-toggle="tooltip" data-placement="bottom" data-original-title="login to your personal dashboard" title="">sign in</a></li>
                <li><a href="#en/registration" id="link_registrazione" data-toggle="tooltip" data-placement="bottom" data-original-title="registered and start sharing your reports" title="">sign up</a></li>
                <li><a href="#en/help" id="link_help" data-toggle="tooltip" data-placement="bottom" data-original-title="how to use darkroomlocator" title="">help</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" id='ul_logout'>
                <li><a href="#en/profile"  id="link_profile"   data-toggle="tooltip" data-placement="bottom" data-original-title="your profile" title=""><div id="gravatar_logout"></div></a></li>
                <li><a href="#en/report"   id="link_report"    data-toggle="tooltip" data-placement="bottom" data-original-title="your report" title=""><img src='css/img/1.png' width=20></a></li>
                <li><a href="#en/logout"   id="link_esci"      data-toggle="tooltip" data-placement="bottom" data-original-title="logout to your personal dashboard" title="">sign out</a></li>
                <li><a href="#en/help" id="link_help" data-toggle="tooltip" data-placement="bottom" data-original-title="how to use darkroomlocator" title="">help</a></li>
            </ul>
        </div>
    </div>
</div>
