<!-- footer -->
<div id="footer">
    <div class="container">
        <p class="text-muted credit">Designed and built with all the love in the world by <a href="http://www.pensando.it/wp/index.php/chi-sono" target="_blank">@etrusco</a></p>
        <p class="text-muted credit"><a href="mailto:darkroomlocator@analogica.it">Contact</a> | <a href="http://www.analogica.it" target="_blank">analogica.it</a> | <a href="http://www.iubenda.com/privacy-policy/687835" target="_blank">Privacy Policy</a> | <a href="#it/credits">Credits</a> | <span class="label label-info"><span id='version'></span></span></p>
    </div>
</div>

<!-- lloogg -->
<script type="text/javascript">
    lloogg_clientid = "289002886a591109";
</script>
<script type="text/javascript" src="http://lloogg.com/l.js?c=289002886a591109">
</script>

<!-- analytics -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43792451-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>