<!-- Registration -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">registrazione</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-offset-4">
            <h3 class="lead">registrati ed inizia a condividere</h3>
            <form class="registrationForm" id="registrationForm" method="post">
                <fieldset>
                    <input type="text"     class="form-control" name="first_name" id="first_name" value="" placeholder="Nome"/><br>
                    <input type="text"     class="form-control" name="last_name" id="last_name" value="" placeholder="Cognome"/><br>
                    <input type="text"     class="form-control" name="username" id="username" value="" placeholder="Username"/><br>
                    <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password"/><br>
                    <input type="password" class="form-control" name="repassword" id="repassword" value="" placeholder="Ripeti Password"/><br>
                    <input type="text"     class="form-control" name="email" id="email" value="" placeholder="email (example@example.com)"/><br>
                    <label class="checkbox">
                        ho letto ed accetto la <a href="http://www.iubenda.com/privacy-policy/687835" target="_blank">privacy policy</a> <input type="checkbox" name="agree" id="agree">
                    </label><br>
                    <button type="submit" id="registrationButton" class="btn btn-info btn-block btn-large">registrati</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
