<!-- sidebar -->
<h3 class="lead">Menu</h3>
<ul class="nav nav-pills nav-stacked">
    <li id="li_dashboard"><a href="#it/dashboard" id="link_dashboard" data-toggle="tooltip" data-placement="right" data-original-title="pagina principale dell'area riservata" title=""><span class="glyphicon glyphicon-home"></span></a></li>
    <li id="li_profile"><a href="#it/profile" id="link_profile" data-toggle="tooltip" data-placement="right" data-original-title="gestisci il tuo profilo! potrai aggiornare o cancellare i tuoi dati" title=""><span class="glyphicon glyphicon-user"></span></a></li>
    <li id="li_password"><a href="#it/password" id="link_password" data-toggle="tooltip" data-placement="right" data-original-title="cambia la tua password" title=""><span class="glyphicon glyphicon-wrench"></span></a></li>
    <li id="li_report"><a href="#it/report" id="link_report" data-toggle="tooltip" data-placement="right" data-original-title="gestisci le tue segnalazioni! potrai inserire, modificare e cancellare le tue segnalazoni" title=""><span class="glyphicon glyphicon-pushpin"></span></a></li>
    <li class="divider"></li>
    <li><a href="#it/logout" id="link_logout" data-toggle="tooltip" data-placement="right" data-original-title="esci dall'area riservata" title=""><span class="glyphicon glyphicon-off"></span></a></li>
</ul>
