<!-- Documentation -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">progetto</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-offset-3">
            <img src="css/img/logo.png" class="img-responsive">
            <h3>Cosa è darkroom locator?</h3>
            <p><strong>Darkroom Locator</strong> è un progetto nato e sviluppato grazie ad <a href='http://www.analogica.it' target='_blank'>analogica.it</a>, la prima community italiana dedicata alla fotografia analogica.</p>
            <p>E' un progetto completamente <strong>gratuito</strong>, senza scopo di lucro e realizzato con le più moderne e performanti <a href="#it/credits">tecnologie</a> ad oggi disponibili.</p>
            <br>
            <h3>Quale è l'obiettivo del progetto?</h3>
            <p>Obiettivo del progetto è quello di <strong>facilitare ed incentivare l'incontro</strong> tra fotografi professionisti o amatori privi di camera oscura ed appassionati di fotografia analogica in possesso di una camera oscura (in garage, in cantina, in soffitta, in bagno, commerciale, ...)</p>
            <p>Crediamo che questa sinergia non possa che far bene alla fotografia ai sali d’argento nel suo insieme, consentendo e facilitando lo scambio di <strong>idee, informazioni e conoscenza</strong> sulle tecniche e sulle pratiche legate allo <strong>sviluppo</strong> ed alla <strong>stampa</strong> in camera oscura.</p>
            <br>
            <h3>Vuoi supportare darkroom locator?</h3>
            <p>Tutto questo fin'ora è stato <strong>autofinanziato</strong> dall'<a href='http://www.pensando.it/wp/index.php/chi-sono' target='_blank'>@etrusco</a> ma le risorse, sia di tempo che economiche, sono ovviamente limitate.<p>
            <p>La lista di cose da fare è enorme, tanti sono i <strong>miglioramenti</strong> e le <strong>novità</strong> che vorrei apportare al progetto, ma più ne introduco e più cresce l'esigenza economica di sostenere queste novità.<p>
            <p>Per cui se ti sei appassionato a darkroom locator, ne condividi lo spirito "open" e vorresti <strong>sostenerlo</strong> sia per il suo mantenimento che per la sua crescita futura puoi fare una <strong>donazione</strong> libera all'etrusco, l'importo lo scegli tu!<p>
            <br>
            <h3>Fai una donazione</h3>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="89VL9J6CNA5PW">
                <input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - Il metodo rapido, affidabile e innovativo per pagare e farsi pagare.">
                <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
            </form>
            <br>
            <h3>Come impiegherò i tuoi aiuti?</h3>
            <ul>
                <li>Dominio, spazio web e data base</li>
                <li>Licenza iOS per realizzazione app iPhone / iPad</li>
                <li>Materiale promozionale e consulenza per grafica pubblicitaria</li>
                <li>Consulenza commerciale e legale per svolgere tale attività</li>
            </ul>
        </div>
    </div>
</div>