<!-- Resend -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">reinvio</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-offset-4">
            <h3 class="lead">Reinvio password</h3>
            <form id="resendForm" method="post">
                <fieldset>
                    <p class='text-muted'>inserisci la tua mail e clicca sul bottone "invia" per ricevere la nuova password</p>
                    <input type="text" class="form-control" name="email" id="email" value="" placeholder="email (example@example.com)"/><br>
                    <button type="submit" id="resendButton" class="btn btn-large btn-info btn-block">invia</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>