<!-- map sidebar -->
<div>
    <form id="mapsidebarForm" method="post">
        <p class="text-muted">
            Dove?<br>
            <input name="geocomplete" id="geocomplete" type="text" placeholder="inserisci indirizzo" class="form-control"  /><br>
            Nel raggio di...<br>
            <select id="km" class="form-control" >
                <option value=1 selected>1 Km</option>
                <option value=10>10 Km</option>
                <option value=50>50 Km</option>
                <option value=100>100 Km</option>
                <option value=500>500 Km</option>
                <option value=1000>1.000 Km</option>
                <option value=0>Tutto il mondo</option>
            </select>
        </p>
        <p class="text-muted">
            Cosa?<br>
            <input name="search" id="search" type="text" placeholder="tag di ricerca" class="form-control"  />
        </p>
        <p class="text-muted">
            Quali?<br>
            <select name="reportTypes" id="reportTypes" class="form-control">
                <option value=0 selected> -- tutte -- </option>
            </select>
        </p>
        <br>
        <button type="submit" name="find" id="find" class="btn btn-success btn-block">inizia ricerca</button><br>
        <button type="button" name="btnReset" id="btnReset" class="btn btn-danger btn-block">reset form</button>
        <br>
        <p>Trovate <strong><span class="text-success" id="res_txt"></span></strong> segnalazioni</p>
    </form>
    <br>
    <div id="container">
        <span class="label label-info">Tech Partner</span><br><br>
        <a href='http://www.ars-imago.com/' target='_blank'><img src='css/img/arsimago.gif'></a>
    </div>
    <br>
    <!--
    <br>
    <br>
    <div id="container">
        <span class="muted" id="lat_txt"></span><br>
        <span class="muted" id="lng_txt"></span><br>
        <span class="muted" id="km_txt"></span><br>
        <span class="muted" id="search_txt"></span><br>
        <span class="muted" id="type_txt"></span>
    </div>
    -->
</div>