<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <img src="http://www.darkroomlocator.com/css/img/drl_white_bkg_300x80.png" class="img-responsive">
            <p>Hallo <span class="text-danger"><%= first_name %></span>,</p>
            <p>Willkommen bei darkroom locator.</p>
            <p>Dein Benutzerkonto wurde aktiviert.</p>
            <p>Dein Username ist <span class="label label-info"><%= username %></span></p>
            <p>Nun kannst du deine Einträge in deinem <a href='www.darkroomlocator.com/#!<%= lang %>/login'>Benutzerkonto</a> verwalten oder über die <a href='www.darkroomlocator.com/#!<%= lang %>/mapdashboard'>Suchmaschine</a> die nächstgelegene Dunkelkammer suchen.</p>
            <p></p>
            <p>Danke</p>
            <p class='text-muted'>darkroom locator team | www.darkroomlocator.com | darkroomlocator@analogica.it</p>
        </div>            
    </div>
</div>