<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="darkroom locator" />
    <meta name="description" content="darkroom locator, find and share darkrooms" />
    <meta name="author" content="Alessandro De Marchi - ademarchi74@gmail.com" />

    <!-- css ext -->
    <link rel="stylesheet"      href="css/ext/bootstrap.3.0.0.min.css" media="screen">
    <link rel="stylesheet"      href="css/ext/bootstrap-glyphicons.css" media="screen">
    <link rel="shortcut icon"   href="favicon.ico">

    <!-- css run -->
    <link rel="stylesheet" href="css/app/style.css" type="text/css"  />

    <title>darkroom locator - find and share darkrooms</title>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-offset-2">
                <h3 class="lead">darkroomlocator 3.0 is coming soon</h3>
                <img src='css/img/logo.png' class="img-responsive">
                <p>A soon will be released the newest version of darkroom locator 3.0</p>
                <p>This version will replace <a href='http://darkroomlocator.analogica.it/' target='_blank'>darkroom locator 2.0</a></p>
                <br><br><br>
                <p class='text-muted'>darkroom locator team | www.darkroomlocator.com | darkroomlocator@analogica.it</p>
            </div>
        </div>
    </div>
    
    <!-- lloogg -->
    <script type="text/javascript">
        lloogg_clientid = "289002886a591109";
    </script>
    <script type="text/javascript" src="http://lloogg.com/l.js?c=289002886a591109">
    </script>
    
    <!-- analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43792451-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    
</body>
</html>