<!-- navbar -->
<div class="navbar navbar-fixed-top" id="anchor0">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">darkroom locator</a>     -->
        <a class="navbar-brand" href="#"><img src='css/img/drl_black_bkg_only_logo_20x20.png'></a>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#de/mapdashboard" id="link_cerca" data-toggle="tooltip" data-placement="bottom" data-original-title="Suche die nächstgelegene Dunkelkammer" title="">suchen</a></li>
                <li><a href="#de/project" id="link_project" data-toggle="tooltip" data-placement="bottom" data-original-title="Entdecke und unterstütze das Projekt Darkroom Locator" title="">das projekt</a></li>
                <li><a href="#de/credits" id="link_credits" data-toggle="tooltip" data-placement="bottom" data-original-title="Technologie und Danksagungen" title="">credits</a></li>
                <li><a id="lang_a_en" href="#lang/en">en</a></li>
                <li><a id="lang_a_it" href="#lang/it">it</a></li>
                <li><a id="lang_a_de" href="#lang/de">de</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" id='ul_login'>
                <li><a href="#de/login"        id="link_login"         data-toggle="tooltip" data-placement="bottom" data-original-title="Zugang zu deinem persönlichen Dashboard" title="">anmelden</a></li>
                <li><a href="#de/registration" id="link_registrazione" data-toggle="tooltip" data-placement="bottom" data-original-title="Registriere dich und teile deine Einträge" title="">registrieren</a></li>
                <li><a href="#de/help" id="link_help" data-toggle="tooltip" data-placement="bottom" data-original-title="wie darkroomlocator verwenden" title="">help</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" id='ul_logout'>
                <li><a href="#de/profile"  id="link_profile"   data-toggle="tooltip" data-placement="bottom" data-original-title="Dein Profil" title=""><div id="gravatar_logout"></div></a></li>
                <li><a href="#de/report"   id="link_report"    data-toggle="tooltip" data-placement="bottom" data-original-title="Deine Einträge" title=""><img src='css/img/1.png' width=20></a></li>
                <li><a href="#de/logout"   id="link_esci"      data-toggle="tooltip" data-placement="bottom" data-original-title="Dein persönliches Dashboard verlassen" title="">abmelden</a></li>
                <li><a href="#de/help" id="link_help" data-toggle="tooltip" data-placement="bottom" data-original-title="wie darkroomlocator verwenden" title="">help</a></li>
            </ul>
        </div>
    </div>
</div>
