<!-- Project -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">projekt</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-offset-3">
            <img src="css/img/logo.png" class="img-responsive">
            <h3>Was ist Darkroom Locator?</h3>
            <p>Das Projekt <strong>Darkroom Locator</strong> wurde dank <a href='http://www.analogica.it' target='_blank'>analogica.it</a>, geboren und entwickelt. analogica.it ist die erst italienische Community, die sich ausschliesslich der analogen Fotografie widmet.</p>
            <p>Darkroom Locator ein Projekt, welches gänzlich  <strong>kostenlos genutzt werden kann. </strong> Darkroom Locator ist nicht gewinnorientiert und wurde mit den besten und schnellsten heute verfügbaren  <a href="#it/credits">Technologien</a> entwickelt.</p>
            <br>
            <h3>Was ist das Ziel des Projekts?</h3>
            <p>Das Ziel des Projektes ist es den <strong>Kontakt</strong> zwischen Profi- oder Amateur-Fotografen (und allen anderen Analog-Fans) ohne eigene Dunkelkammer und den Besitzern von Dunkelkammern (egal ob in der Garage, im Keller, im Bad, oder professionell) <strong>herzustellen und zu vereinfachen.</strong>
            <p>Wir glauben daran, dass diese Synergien der analogen Fotografie nur nützlich sein können. Sie ermöglichen einen Austausch von <strong>Ideen, Informationen und Wissen</strong> zu den <strong>Dunkelkammertechniken.</strong></p>
            <br>
            <h3>Willst du Darkroom Locator unterstützen?</h3>
            <p>Bis heute wurde das Projekt ausschliesslich von  <a href='http://www.pensando.it/wp/index.php/chi-sono' target='_blank'>@etrusco</a> <strong>selbstfinanziert</strong>, aber sowohl die zeitlichen als auch die finanziellen Ressourcen sind selbstverständlich limitiert.<p>
            <p>Die To-do-Liste ist lang, es gibt viele <strong>Verbesserungen</strong> und <strong>Neuigkeiten</strong>, die ich ins Projekt einbringen möchte. Aber je mehr ich einfüge, um so höher sind die Kosten, um diese Neuigkeiten zu unterhalten. <p>
            <p>Wenn du also von Darkroom Locator fasziniert bist, den 'offenen Geist' teilst und ihn <strong>unterstützen</strong> möchtest, kannst du 'etrusco' eine  <strong>Spende</strong> machen. Den Betrag wählst du!<p>
            <br>
            <h3>Spende jetzt</h3>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="YDWST7PJ2S38A">
                <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
                <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
            </form>
            <br>
            <h3>Wie wird dein Geld verwendet?</h3>
            <ul>
                <li>Domain, Webseite und Datenbank</li>
                <li>iOS-Lizenz um eine iPhone / iPad App zu realisieren</li>
                <li>Werbemittel und Grafikberatung</li>
                <li>Rechtliche und finazielle Beratung</li>
            </ul>
        </div>
    </div>
</div>