<!-- Index -->
<div class="container">
    <div id="mycarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active">
                <img src="css/img/logo.png" alt="">
                <div class="carousel-caption">
                    <p class="text-left"><a class="btn btn-info" href="#de/mapdashboard">Dunkelkammer suchen</a></p>
                </div>
            </div>

            <div class="item">
                <img src="css/img/it-slide-04.jpg" alt="">
                <div class="carousel-caption">
                    <p class="text-left"><a class="btn btn-danger" href="#de/project">Erfahre mehr über das Projekt</a></p>
                </div>
            </div>

            <div class="item">
                <img src="css/img/it-slide-02.jpg" alt="">
                <div class="carousel-caption">
                    <p class="text-left"><a class="btn btn-success" href="#de/login">Melde dich an und verwalte deine Einträge</a></p>
                </div>
            </div>

            <div class="item">
                <img src="css/img/it-slide-03.jpg" alt="">
                <div class="carousel-caption">
                    <p class="text-left"><a class="btn btn-warning" href="#de/registration">Registriere dich unt teile deine Dunkelkammer</a></p>
                </div>
            </div>

        </div>

        <a class="left carousel-control" href="#mycarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#mycarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

    </div>
    <br>
    <a onclick="$('#anchor1').animatescroll();"><button type="button" id="anchor1Button" class="btn btn-link btn-block"><img src="css/img/arrow-down_64.png"></button></a>
</div>

<hr class="featurette-divider">

<div class="container marketing" id="anchor1">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-rounded" data-src="holder.js/140x140" src="css/img/find.png" style="width: 140px; height: 140px;">
            <h2>Suchen</h2>
            <p>Bist du ein begeisterter Analog-Fotograf? Suchst du eine Dunkelkammer, um deine Filme zu entwickeln oder Vergrösserungen anzufertigen? Worauf wartest du? Suche gleich die nächstgelgene Dunkelkammer!</p>
            <p><a class="btn btn-large btn-info" href="#de/mapdashboard">Suche eine Dunkelkammer</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-rounded" data-src="holder.js/140x140" src="css/img/edit.png" style="width: 140px; height: 140px;">
            <h2>Ändern</h2>
            <p>Hast du schon eine Dunkelkammer hinzugefügt? In deinem Benutzerkonto kannst du deine Einträge ändern oder löschen. Auch kannst du neue Einträge hinzufügen. </p>
            <p><a class="btn btn-large btn-success" href="#de/login">Anmelden und verwalten</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-rounded" data-src="holder.js/140x140" src="css/img/share.png" style="width: 140px; height: 140px;">
            <h2>Teilen</h2>
            <p>Bist du von der analogen Fotografie fasziniert? Hast du eine Dunkelkammer, die du gerne mit anderen Fotografen teilen möchtest? Worauf wartest du? Melde dich an und teile deine Dunkelkammer! </p>
            <p><a class="btn btn-large btn-warning" href="#de/registration">Anmelden und teilen</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <br>
    <a onclick="$('#anchor2').animatescroll();"><button type="button" id="anchor2Button" class="btn btn-link btn-block"><img src="css/img/arrow-down_64.png"></button></a>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="featurette1" id="anchor2">
        <img src="css/img/gratis.png" class="img-responsive img-rounded pull-right" style="width: 280px;">
        <h2 class="featurette-heading">DarkRoom Locator.<br><span class="text-muted">Ist kostenlos.</span></h2>
        <p class="lead">Mit DarkRoom Locator kannst du die nächstgelgene Dunkelkammer finden und sofort mit dem Entwickeln deiner Filme starten. Kostenlos! </p>
        <p><a class="btn btn-large btn-success" href="#de/project">Finde mehr Details zum Projekt</a></p>
    </div>
    <br>
    <a onclick="$('#anchor3').animatescroll();"><button type="button" id="anchor3Button" class="btn btn-link btn-block"><img src="css/img/arrow-down_64.png"></button></a>

    <hr class="featurette-divider">

    <div class="featurette2" id="anchor3">
        <img src="css/img/simple.png" class="img-responsive img-rounded pull-left" style="width: 280px;">
        <h2 class="featurette-heading text-right">DarkRoom Locator.<br><span class="text-muted">Ist einfach.</span></h2>
        <p class="lead text-right">Nie war es einfacher eine Dunkelkammer zu suchen. Die Suche ist intuitiv, schnell und funktioniert über Google Maps (TM).</p>
        <p class="text-right"><a class="btn btn-large btn-info" href="#de/mapdashboard">Suche eine Dunkelkammer</a></p>
    </div>
    <br>
    <a onclick="$('#anchor4').animatescroll();"><button type="button" id="anchor4Button" class="btn btn-link btn-block"><img src="css/img/arrow-down_64.png"></button></a>

    <hr class="featurette-divider">

    <div class="featurette3" id="anchor4">
        <img src="css/img/speed.png" class="img-responsive img-rounded pull-right" style="width: 280px;">
        <h2 class="featurette-heading">DarkRoom Locator.<br><span class="text-muted">Ist schnell.</span></h2>
        <p class="lead">Das Teilen deiner Dunkelkammer mit anderen Fotografen ging noch nie so schnell. Die Navigation und die Suche sind dank dem verwendeten stack node.js extrem schnell.</p>
        <p><a class="btn btn-large btn-warning" href="#de/credits">Entdecke den Aufbau</a></p>
    </div>
    <br>
    <a onclick="$('#anchor0').animatescroll();"><button type="button" id="anchor0Button" class="btn btn-link btn-block"><img src="css/img/arrow-up_64.png"></button></a>

    <!-- /END THE FEATURETTES -->

</div>
<br><br>