<!-- Registration -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">registrieren</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-offset-4">
            <h3 class="lead">Registriere dich und teile deine Dunkelkammer</h3>
            <form class="registrationForm" id="registrationForm" method="post">
                <fieldset>
                    <input type="text"     class="form-control" name="first_name" id="first_name" value="" placeholder="Vorname"/><br>
                    <input type="text"     class="form-control" name="last_name" id="last_name" value="" placeholder="Nachname"/><br>
                    <input type="text"     class="form-control" name="username" id="username" value="" placeholder="Username"/><br>
                    <input type="password" class="form-control" name="password" id="password" value="" placeholder="Passwort"/><br>
                    <input type="password" class="form-control" name="repassword" id="repassword" value="" placeholder="Passwort wiederholen"/><br>
                    <input type="text"     class="form-control" name="email" id="email" value="" placeholder="Email (example@example.com)"/><br>
                    <label class="checkbox">
                        Ich habe die Nutzungsbedingungen gelesen und akzeptiere sie. <a href="http://www.iubenda.com/privacy-policy/687835" target="_blank"></a> <input type="checkbox" name="agree" id="agree">
                    </label><br>
                    <button type="submit" id="registrationButton" class="btn btn-info btn-block btn-large">Registrieren</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
