<!-- Login -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">anmelden</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-offset-4">
            <h3 class="lead">Zugang zu deinem persönlichen Dashboard</h3>
            <form class="loginForm" id="loginForm" method="post">
                <fieldset>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="" /><br>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="" /><br>
                    <small><a href="#de/registration">Willst du dich zum ersten Mal anmelden?</a></small><br>
                    <small><a href="#de/resend">Hast du dein Passwort vergessen?</a></small><br><br>
                    <button type="submit" id="loginButton" class="btn btn-success btn-block btn-large">Anmelden</button>
                    <!--
                    <br><br><br>
                    <button type="button" id="facebookButton" class="btn btn-primary btn-large">accedi con il tuo account facebook</button>
                    //-->
                </fieldset>
            </form>
        </div>
    </div>
</div>