<!-- Help -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">help</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-offset-3">
            <img src="css/img/logo.png" class="img-responsive">
            <h3>How to find a darkroom</h3>
            <iframe src="http://www.screenr.com/embed/YgjH" width="650" height="396" frameborder="0"></iframe>
            <h3>How to delete a darkroom</h3>
            <iframe src="http://www.screenr.com/embed/QhjH" width="650" height="396" frameborder="0"></iframe>
            <h3>How to update a darkroom</h3>
            <iframe src="http://www.screenr.com/embed/qhjH" width="650" height="396" frameborder="0"></iframe>
            <h3>How to insert a darkroom</h3>
            <iframe src="http://www.screenr.com/embed/lhjH" width="650" height="396" frameborder="0"></iframe>

        </div>
    </div>
</div>