<!-- sidebar -->
<h3 class="lead">Menu</h3>
<ul class="nav nav-pills nav-stacked">
    <li id="li_dashboard"><a href="#de/dashboard" id="link_dashboard" data-toggle="tooltip" data-placement="right" data-original-title="Startseite des Benutzerkontos" title=""><span class="glyphicon glyphicon-home"></span></a></li>
    <li id="li_profile"><a href="#de/profile" id="link_profile" data-toggle="tooltip" data-placement="right" data-original-title="Verwalte dein Profil! Hier kannst du deine Daten ändern oder löschen" title=""><span class="glyphicon glyphicon-user"></span></a></li>
    <li id="li_password"><a href="#de/password" id="link_password" data-toggle="tooltip" data-placement="right" data-original-title="Passwort ändern" title=""><span class="glyphicon glyphicon-wrench"></span></a></li>
    <li id="li_report"><a href="#de/report" id="link_report" data-toggle="tooltip" data-placement="right" data-original-title="Verwalte deine Einträge! Hier kannst du deine Einträge ändern oder löschen, oder auch neue hinzufügen" title=""><span class="glyphicon glyphicon-pushpin"></span></a></li>
    <li class="divider"></li>
    <li><a href="#de/logout" id="link_logout" data-toggle="tooltip" data-placement="right" data-original-title="Abmelden" title=""><span class="glyphicon glyphicon-off"></span></a></li>
</ul>