<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <img src="http://www.darkroomlocator.com/css/img/drl_white_bkg_300x80.png" class="img-responsive">
            <p>Ciao <span class="text-danger"><%= first_name %></span>,</p>
            <p>benvenuto su darkroom locator.</p>
            <p>Il tuo account è stato correttamente attivato</p>
            <p>Ricorda che il tuo username è <span class="label label-info"><%= username %></span></p>
            <p>Puoi iniziare a condividere le tue segnalazioni dalla tua <a href='www.darkroomlocator.com/#!<%= lang %>/login'>area riservata</a></p>
            <p>O cercare una camera oscura vicino a te attraverso il nostro <a href='www.darkroomlocator.com/#!<%= lang %>/mapdashboard'>motore di ricerca</p>
            <p></p>
            <p>Grazie</p>
            <p class='text-muted'>darkroom locator team | www.darkroomlocator.com | darkroomlocator@analogica.it</p>
        </div>            
    </div>
</div>