<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <img src="http://www.darkroomlocator.com/css/img/drl_white_bkg_300x80.png" class="img-responsive">
            <p>Hallo <span class="text-danger"><%= first_name %></span>,</p>
            <p>Du hast bei darkroom locator ein neues passwort beantragt.</p>
            <p>Dies ist dein neues passwort <span class="label label-danger"><%= clean_password %></span><p>
            <p>Dein username ist <span class="label label-info"><%= username %></span></p>
            <p>Wir empfehlen dir, dein passwort umgehend zu ändern</p>
            <p></p>
            <p>Danke</p>
            <p class='text-muted'>darkroom locator team | www.darkroomlocator.com | darkroomlocator@analogica.it</p>
        </div>            
    </div>
</div>